#app {
  height: 100vh;
}

.levelEditor {
  display: grid;
  grid-template-areas: inventory editor properties;
  grid-template-columns: auto 1fr auto;
  height: 100%;
}

.inverntory {
  padding: 1rem;
}

.inventoryItems {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(48px, 1fr));
  gap: 8px;
}

.inventoryItem {
  width: 100%;
  aspect-ratio: 1 / 1;

  > img {
    width: 100%;
    height: 100%;
    display: flex;
    object-fit: contain;
    image-rendering: pixelated;
  }
}

.mapContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100vh;
  padding: 16px;
}

.map {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid black;
  border-width: 1px 0 0 1px;
}

.mapRow {
  display: flex;
  border-bottom: 1px solid black;
  width: 100%;
}

.mapCell {
  aspect-ratio: 1 / 1;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid black;
}

.mapCellImage {
  width: 100%;
  height: 100%;
  image-rendering: pixelated;
}

.isSelected {
  outline: 2px solid blue;
}

.rotation-0 {
  transform: rotate(0deg);
}

.rotation-1 {
  transform: rotate(90deg);
}

.rotation-2 {
  transform: rotate(180deg);
}

.rotation-3 {
  transform: rotate(270deg);
}
